<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT RatingsPage ANY>
<!ATTLIST RatingsPage id ID #REQUIRED>
<!ELEMENT SiteRoot ANY>
<!ATTLIST SiteRoot id ID #REQUIRED>

]>
<root id="-1">
  <SiteRoot id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-10-29T16:44:05" updateDate="2013-10-29T17:06:30" nodeName="Virtual Currencies" urlName="virtual-currencies" path="-1,1054" isDoc="" nodeType="1050" creatorName="Admin" writerName="Admin" writerID="0" template="1053" nodeTypeAlias="SiteRoot">
    <RatingsPage id="1055" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2013-10-29T16:53:11" updateDate="2013-10-29T17:06:30" nodeName="Ratings" urlName="ratings" path="-1,1054,1055" isDoc="" nodeType="1052" creatorName="Admin" writerName="Admin" writerID="0" template="1051" nodeTypeAlias="RatingsPage" />
  </SiteRoot>
</root>